.horarioContainer {
  width: 70%;
  height: 400px;
  margin: auto;
  /* padding: auto; */
  overflow: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 1rem;

  /* align-items: center; */
}

table, th, td {
  border: 1px solid;
}

.horarioContainer table {
  /* width: 70%; */
  border-collapse: collapse;
  height: fit-content;
  overflow: auto;
}

.horarioContainer th {
  font-size: 1.25rem;
  background: var(--blue-300);
  color: var(--white);
  border: 1px solid black;
  font-weight: normal;
}

.horarioContainer td:first-child {
  text-align: center;
  background: var(--gray-100);
}

.horarioCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: fit-content; */
  flex: 1;
}

.horarioContainer td div strong {
  text-align: center;
}

